$color-primary: #0070f3;

.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-size: 47px;
  color: $color-primary;
}

.headerLogo {
  position: relative;
  width: 186px;
  height: 58px;
}
